$default-color: #f2f2f2;
$primary-color: #673AB7;
$success-color: #c1d82f;
$warning-color: #fbb034;
$danger-color: #E72A2A;

$text-color: #181818;

body {
    color: #181818;
}

$sm-spacing: 1em;
$md-spacing: 1.5em;
$lg-spacing: 2.5em;

/* --- BREAKPOINTS */

$xlg-breakpoint: 1440px;
$lg-breakpoint: 970px;
$md-breakpoint: 767px;
$sm-breakpoint: 448px;
$xsm-breakpoint: 259px;

header {
	transition-duration: .5s;
}

.jumbotron {
    min-height: 200px;
    background-repeat: no-repeat;
    letter-spacing: 1px;
    &.opening {
        // background: url(/img/sky.png);
        background-size: cover;
        & .tagline {
            font-size: 2em;
            line-height: 1.25em;
            margin: 0;
        }
    }
}

.favicon {
    font-weight: 500;
    color: #000;
    text-align: center;
    cursor: default;
    border-radius: 50%;
    border: #336 5px solid;
}