doctype
html
	head
		title Galaxy UI
		meta(name="description" content="The front-end framework based on conversational language.")
		link(rel="icon" href="/img/favicon.png")
		link(rel="stylesheet" href="/css/galaxy.css")
		link(rel="stylesheet" href="/css/docs.css")
		link(rel="stylesheet" href="/plugins/highlight/styles/tomorrow.css")

	body(ondragstart="return false")

		!=partial("_partials/header")
	
		!= yield

		!=partial("_partials/footer")

		//- script(src="/js/galaxy.js")