#header_list {
	padding-left: 0;
}
#upload_file_btn {
	padding: 10px 60px;
}
.grid_photo {
	width: 100%;
  	height: 130px;
	background-size: cover !important;
	background-repeat: no-repeat;
	transition: opacity 0.4s;
}
.grid_photo:hover {
	cursor: pointer;
	opacity: 0.8;
}
.grid_item_container {
	text-align: center;
	height: 230px;
}
#add_account_btn:hover {
	text-decoration: none;
	cursor: pointer;
}