html {
	height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
#site_header_1 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
	margin-top: 30px;
}
#site_header_2 {
	font-family: 'Roboto Slab', serif;
	margin-top: 0;
}
#header_list {
	padding-left: 0;
	font-size: 18px;
}
#header_list li {
	margin: 10px 0;
}
.storage_space_remaining {
	font-size: .9em; 
	color: rgba(103, 103, 103, 0.39);
}
#used_data_bar_wrapper { 
	display: none;
	height: .3em; 
	background: #000; 
	width: 100%;
}
#used_data_bar {
	height: 100%;
	background-color: #5BC0DE;
}
#upload_file_btn {
	padding: 10px 60px;
}
#search_bar {
	margin-top: -13px;
}
.grid_item {
	padding-top: 1.5em;
	margin: 0 auto;
	width: 7em;
	height: 5em;
	text-align: center;
	font-size: 2em;
	border-radius: 4px;
	background: #FFFFFF;
	color: #337AB7;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}
.grid_photo {
	width: 100%;
  	height: 130px;
	background-size: cover !important;
	background-repeat: no-repeat;
	transition: opacity 0.4s;
}
.grid_photo:hover {
	cursor: pointer;
	opacity: 0.8;
}
.grid_item_container {
	text-align: center;
	height: 230px;
}
#add_account_btn:hover {
	text-decoration: none;
	cursor: pointer;
}
#authentication_overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
}
#authentication_container { 
	position: fixed;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#authentication_header {
	font-family: 'Roboto Slab', serif;
	margin-top: 0;
}
#close_authentication {
	font-size: 25px;
	margin-right: 20px;
}
.account_logo {
	margin: 20px auto;
	height: 150px;
	width: 70%;
	background-color: #eee;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.account_logo:hover { 
	cursor: pointer;
	-webkit-filter: brightness(60%);
}
#dropbox_logo {
    background: url("../img/dropbox.png") no-repeat center; 
	background-size: contain;
}
#google_drive_logo {
    background: url("../img/google_drive.png") no-repeat center; 
	background-size: contain;
}
