
.banner(g="centered md-padding-tb sm-padding-lr" style="background: #FF6461; color: #fff")
	h1 Breeze through the docs
	h3 Step by Step Walkthroughs from interaction to layouts
	
	a(href="/docs/tutorial")
		button(g="primary") Quick Tutorial

.doc-nav(g="centered lg-container")
	section
		div(g="column")
			h5 CREATING COMPONENTS
		div(g="column")
			h5 CREATING COMPONENTS
		div(g="column")
			h5 CREATING COMPONENTS
		div(g="column")
			h5 CREATING COMPONENTS


//- 	section(g="around")

//- 		.thumbnail
//- 				a(href="basics")
//- 					.card
//- 						.preview
//- 							button(g="primary") Button
//- 						.sublime
//- 							p &lt;button g="primary">Button&lt;/button>
//- 				.description
//- 					h4 Creating components
//- 					h5 The very basic steps. Learn how to create components.

//- 		.thumbnail
//- 			a(href="layouts")
//- 				.card
//- 					section(g="around" style="height: 50%; width: 100%;")
//- 						h4 Exactly
//- 						h4 A Half!
//- 						.harrows
//- 							.arrow
//- 								.line
//- 							.arrow
//- 								.line
//- 							.arrow
//- 								.line
//- 						//- .varrows
//- 							.arrow
//- 								.line
//- 							.arrow
//- 								.line
//- 							.arrow
//- 								.line
//- 							.arrow
//- 								.line
//- 					.sublime
//- 						p &lt;section g="centered around"><br><indent>&lt;p>Exactly</indent>&lt;p><br><indent>&lt;p>A Half!</indent>&lt;p><br>&lt;section>

//- 			.description
//- 				h4 Building layouts
//- 				h5 Use grids to design consistent layouts with ease.
//- 		.thumbnail
//- 			a(href="states")
//- 				.card
//- 					.preview
//- 						button(g="primary") Open modal

//- 			.description
//- 				h4 Toggling states
//- 				h5 Design behaviors that trigger when a component is clicked.
		
//- 		.thumbnail
//- 			a(href="tweaking")
//- 				.card
//- 					.preview
//- 						header(style="font-size: .5em; background: #000; color: #fff")

//- 							ul
//- 								li Dashboard
//- 								li Settings
//- 								li Welcome, Andy
//- 					.sublime
//- 						p $nav-color: #000;<br>header {<br><indent>background: $nav-color;</indent><br>}
//- 			.description
//- 				h4 Tweaking components
//- 				h5 How to tweak a component and supercharge your workflow.