

footer
	a(g="sm-padding")
		//- img(src="/media/logo-dark.png" width="75")
	ul(g="centered")
		li Designed and maintained by <a href="//twitter.com/andyfang98">@AndyFang98</a>
	//- section
		ul
			li Made by <a href="https://twitter.com/AndyFang98" class="twitter-follow-button" data-show-count="false">@AndyFang98</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	ul(g="centered md-padding")
		li(style="margin-right: 2em;") <a class="github-button" href="https://github.com/Magmroz/galaxy" data-count-href="/Magmoz/galaxy/stargazers" data-count-api="/repos/Magmoz/galaxy#stargazers_count">Star</a>
		li <a class="github-button" href="https://github.com/Magmoz/galaxy" data-icon="octicon-git-branch" data-count-href="/Magmoz/galaxy/network" data-count-api="/repos/Magmoz/galaxy#forks_count">Fork</a>	



script(src="/js/jquery.js")
script(src="/js/galaxy.js")
script(src="/js/prism.js")
script(src="/js/home.js")
script(src="/js/docs.js")
script(async defer id="github-bjs" src="https://buttons.github.io/buttons.js")